@font-face {
  font-family: "LIQUIDO";
  src: url("../assets/LIQUIDO-Fluid.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* :root {
  --color-dark: #1b164a;
  --color-light: #e4dfcd;
  --color-accent: #ce1948;
} */

:root {
  --color-light: #f4e8e3;
  --color-dark: #342f2b;
  --color-accent: #e65103;
  --color-accent-2: #b6b374;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "LIQUIDO";
  color: var(--color-accent);
  padding-bottom: 2rem;
}

h2 {
  font-family: "LIQUIDO";
  color: var(--color-accent);
  padding-bottom: 2rem;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: var(--color-dark);
}

h1 {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  line-height: 0.9;
  padding-bottom: 2rem;
}

h2 {
  font-size: 4rem;
}

p,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

body {
  background-color: var(--color-light);
  margin: 2rem 2rem;
  color: var(--color-dark);
}

p {
  color: var(--color-dark);
}

@media (max-width: 768px) {
  body {
    margin: 2rem auto; /* Adjust the margin value as needed */
    max-width: 400px; /* Adjust the max-width value to match the grid width */
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

a:hover {
  text-decoration: underline;
}

main {
  padding-bottom: 2rem;
}

section {
  /* padding-top: 2rem; */
}

@media (prefers-color-scheme: dark) {
}
